body{
  background-color:olive;
  color:white;
  width: 1024px;
	margin-left: auto;
	margin-right: auto;
}
img{
  border-radius: 10px ;
  box-shadow: 1px 5px 5px black;
}
h1{
  display: flex;  align-items: center;  justify-content: center;
}
nav{
  display: flex;  align-items: center;  justify-content: space-evenly;background-color: #eee;
}
button:hover
{
  background-color: rgb(210, 210, 210);
  border-color: aliceblue;
  width: auto;
  height: 30px;
}
button
{
  background-color:  aliceblue;
  border: none;
  width: auto;
  height: 30px;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
  width: 50%;
  height: 14px;
  padding: 18px;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
p{
  color: black;
}
ul{
  list-style-type: square;
}
